body {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9)),
    url('https://images.squarespace-cdn.com/content/v1/51c1e5a0e4b02e7fb0ce5e45/1371683464639-7XNBPL9KKWY7WLN244PQ/ground-crack.jpg?format=1000w')
      fixed;
  min-height: 100vh;
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
a {
  text-decoration: none;
}

.marquee-wrapper {
  text-align: center;
  overflow: hidden;
}
.marquee-inner span {
  float: left;
  width: 50%;
}
.marquee-wrapper .marquee-block {
  --total-marquee-items: 5;
  height: 50px;
  width: calc(250px * (var(--total-marquee-items)));
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
  margin: 5px auto;
  padding: 30px 0;
}
.marquee-inner {
  display: block;
  width: 200%;
  position: absolute;
}
.marquee-inner p {
  font-weight: 800;
  font-size: 30px;
  font-family: cursive;
}
.marquee-inner.to-left {
  animation: marqueeLeft 50s linear infinite;
}
.marquee-inner.to-right {
  animation: marqueeRight 50s linear infinite;
}
.marquee-item {
  width: 230px;
  /* min-width: fit-content; */
  height: auto;
  display: inline-block;
  margin: 0 10px;
  float: left;
  transition: all 0.2s ease-out;
}
@keyframes marqueeLeft {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}
@keyframes marqueeRight {
  0% {
    left: -100%;
  }
  100% {
    left: 0;
  }
}
